{% extends "base.html" %}
{% block content %}
  <header>
    <figure>
      <h1>Archives</h1>
    </figure>
  </header>
  <div>
    {% for year, y_articles in dates | groupby("date.year") | reverse %}
      <h2>{{ year }}</h2>
      <ul class="items">
        {% for month, m_articles in y_articles | groupby("date.month") | reverse %}
          <h3>
            {% if month == 1 %}
              Janvier
            {% elif month == 2 %}
              Février
            {% elif month == 3
              %}
              Mars
            {% elif month == 4 %}
              Avril
            {% elif month == 5 %}
              Mai
            {% elif month
              == 6 %}
              Juin
            {% elif month == 7 %}
              Juillet
            {% elif month == 8 %}
              Aout
            {% elif
              month == 9 %}
              Septembre
            {% elif month == 10 %}
              Octobre
            {% elif month == 11
              %}
              Novembre
            {% elif month == 12 %}
              Décembre
            {% endif %}
          </h3>
          {% for article in m_articles %}
            <li class="item link-{{ article.category }}">
              {% set category_description = CATEGORIES_DESCRIPTION.get(article.category)[0] %}
              <a href="{{ SITEURL }}/{{ article.url }}" id="page-title">
                {% if article.category != 'weeknotes' %}{{ category_description }}:{% endif %}
              {{ article.title }}</a>
            </li>
          {% endfor %}
        {% endfor %}
      </ul>
    {% endfor %}
  </div>
{% endblock content %}
