{% extends "base.html" %}
{% block title %}
  {{ article.title }} - {{ super() }}{%
  endblock %}
  {% block content %}
    {% set lectures = (article.category ==
        "Lectures") %}
    <header class="{{ article.category }}">
      <figure>
        <h1 class="post-title">{{ article.title }}</h1>
        <figcaption>
          {% if article.subtitle %}
            {{ article.subtitle }},
          {% endif %}
          {% if lectures %}
            Lu en {{ article.date | strftime("%B %Y") }}
          {% else %}
            {% if article.lang == "fr" %}
            {{ article.locale_date }}
            {% else %}
            {{ article.date | strftime("%Y-%m-%d")}}
            {% endif %}
          {% endif %}
        </figcaption>
      </figure>
      <nav>
        <ul class="navigation">
          {% if article.prev_article_in_category %}
            <li>
              <a href="{{ SITEURL }}/{{ article.prev_article_in_category.url }}"
                 title="{{ article.prev_article_in_category.title | striptags }}">←
                {% if article.lang == "fr" %}Précédent{% else %}Previous{% endif %}</a>
            </li>
          {% endif %}
          <li>
            <a href="{{ SITEURL }}">
                {% if article.lang == "fr" %}Accueil{% else %}Home{% endif %}</a>
            </a>
          </li>
          {% if article.next_article_in_category %}
            <li>
              <a href="{{ SITEURL }}/{{ article.next_article_in_category.url }}"
                 title="{{ article.next_article_in_category.title | striptags }}">
                {% if article.lang == "fr" %}Suivant{% else %}Next{% endif %}</a> →</a>
            </li>
          {% endif %}
        </ul>
      </nav>
    </header>
    <article class="{{ article.category }}">
      {% if lectures %}
        <p>{% if article.isbn_cover %}</p>
          <div class="book-cover">
            <img src="{{ SITEURL }}/{{ article.isbn_cover }}" />
          </div>
        {% endif %}
        <p>Un livre de {{ article.author }}</p>
        {% if article.headline %}
          <p>
            <em>{{ article.headline }}</em>
          </p>
        {% endif %}
        <hr />
      {% endif %}
      {{ article.content }}
    </article>
    {% if article.contraintes or article.tags %}
      {% if article.contraintes %}
        <details>
          <summary>+ d'infos sur ce texte (au risque de casser la magie)…</summary>
        {% endif %}
        <section class="more">
          {% if article.contraintes %}
            <h2>Contraintes</h2>
            {{ article.contraintes }}
          {% endif %}
          {% if article.tags %}
            <p>
              {% for tag in article.tags %}
                <a href="{{ SITEURL }}/{{ tag.url }}">#{{ tag }}</a>
                {% if not loop.last %},{% endif %}
              {% endfor %}
              - {% if article.lang == "fr" %}Posté dans la catégorie{% else %}In{% endif %} 
              <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a>
            </p>
          {% endif %}
        </section>
        {% if article.contraintes %}</details>{% endif %}
    {% endif %}
  {% endblock %}
