{% extends "base.html" %}
{% block title %}{{ article.title }} - {{ super() }}{% endblock %}
{% block content %}
    <header>
        {% if article.category == "Lectures" %}
            <h1 class="post-title">
                {{ article.title }}<small>
                <br />
            de {{ article.author }}</small>
        </h1>
        <time datetime="{{ article.date.isoformat() }}">Lu en {{ article.date | strftime("%B %Y") }}</time>
    {% else %}
        <h1 class="post-title">{{ article.title }}</h1>
        <time datetime="{{ article.date.isoformat() }}">{{ article.locale_date }}</time>
    {% endif %}
    <nav>
        <ul class="navigation">
            {% if article.prev_article %}
                <li>
                    <a href="{{ SITEURL }}/{{ article.prev_article.url }}"
                       title="{{ article.prev_article.title | striptags }}">← Précédent</a>
                </li>
            {% endif %}
            <li>
                <a href="{{ SITEURL }}">Accueil</a>
            </li>
            {% if article.next_article %}
                <li>
                    <a href="{{ SITEURL }}/{{ article.next_article.url }}"
                       title="{{ article.next_article.title | striptags }}">Suivant →</a>
                </li>
    {% endif %}
            </ul>
        </nav>
    {% if article.headline and article.category != "weeknotes" %}
        <p>
            <em>{{ article.headline }}</em>
        </p>
    {% endif %}
    {% if article.isbn_cover %}
        <div class="book-cover">
            <img src="{{ SITEURL }}/{{ article.isbn_cover }}" />
        </div>
    {% endif %}
</header>
<article>
    {{ article.content }}
    {% if article.tags %}
        <p>
            {% for tag in article.tags %}
                <a href="{{ SITEURL }}/{{ tag.url }}">#{{ tag }}</a>
                {% if not loop.last %},{% endif %}
            {% endfor %}
            - Posté dans la catégorie <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a>
        </p>
    {% endif %}
    </article>
{% endblock %}
