<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>
            {% block title %}{{ SITENAME }}{% endblock %}
        </title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet"
              href="{{ SITEURL }}/theme/css/{{ CSS_FILE }}?v2"
              type="text/css" />
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}"
              type="application/atom+xml"
              rel="alternate"
              title="{{ SITENAME }} ATOM Feed" />

        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
        {% if FEED_RSS %}

            <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}"
                  type="application/atom+xml"
                  rel="alternate"
                  title="{{ SITENAME }} RSS Feed" />
        {% endif %}
        {% block extra_head %}{% endblock %}
    </head>
    <body>
        <div id="content">
            <section id="links">
                <ul>
                    {% for (title, url, selected) in MENU %}
                        {% if loop.first %}
                            <li>
                                <a class="main" href="/">{{ SITENAME }}</a>
                            </li>
                        {% endif %}
                        <li>
                            <a class="{% if page_name == selected or (category and category.name == selected) or (page and page.slug == selected) %}selected{% endif %}"
                               href="{{ SITEURL }}{{ url }}">{{ title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </section>
            {% include 'github.html' %}
            {% block content %}{% endblock %}
            <footer>
                <a id="feed" href="/feeds/all.atom.xml">
                    <img alt="RSS Logo" src="/theme/rss.svg" />
                </a>
            </footer>
        </div>
    </body>
</html>
