{% extends "base.html" %}
{% block title %}{{ article.title }}{% endblock %}
{% block content %}        
<section id="content" class="body">    
<article>
<header>
<h1 class="entry-title">{{ article.title }}</h2>
<abbr class="published" title="{{ article.date.isoformat() }}">
    {{ article.locale_date }} </abbr>
        
        </header>
        <div class="entry-content">
        {% if article.category == 'notes' %}
        <p><em>Vous êtes sur le point de lire une note, probablement prise à la va-vite dans un train alors que je visualisais un documentaire / écoutait une émission. Ces notes sont susceptibles d'évoluer, prenez les tel quel!</em></p>
        {% endif %}

        {{ article.content }}

        <div class="info">
            <p>Published in <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a> by <a href="{{ article.author.url }}">{{ article.author }}</a>. {% include 'taglist.html' %}</p>
        </div>
        </div><!-- /.entry-content -->
        {% if DISQUS_SITENAME %}
        <div class="comments">
        <h2>Comments !</h2>
            <div id="disqus_thread"></div>
            <script type="text/javascript">
               var disqus_identifier = "{{ article.url }}";
               (function() {
               var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
               dsq.src = 'http://{{ DISQUS_SITENAME }}.disqus.com/embed.js';
               (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
              })();
            </script>
        </div>
        {% endif %}

</article>
</section>
{% endblock %}
