{% import "macros/list_articles.html" as macros %}
{% extends "base.html" %}
{% block containerclass %}container-wide{% endblock %}
{% block containertitleclass %}container-wide{% endblock %}
{% block content %}
<div class="content-title">
<div class="posts">
{% for category, articles in categories | rejectattr(0, "in", ("journal", "notes")) %}
    {{ macros.list_articles(
        articles,
        included_categories=(category,),
        title=category,
        limit=None,
        display_category=False
    )}}
{% endfor %}
</div>
</div>
{% endblock %}
