{% import "macros/list_articles.html" as macros %}

{% extends "base.html" %}
{% block containerclass %}container-wide{% endblock %}
{% block containertitleclass %}container-wide{% endblock %}
{% block extrahead %}
<style>

</style>
{% endblock %}
{% block content %}
<div class="content-title">
{% block content_title %}{% endblock %}

<div class="posts">
{% if category is defined %}
  {{ macros.list_articles(
    articles_page.object_list,
    included_categories=(category,),
    title=category,
    limit=None,
  )}}
{% else %}
  {{ macros.list_articles(
    articles_page.object_list,
    included_categories=dict(categories).keys(),
    excluded_categories=("journal", "notes", "lectures"),
    title="Réfléxions",
    limit=7,
    see_more="/categories.html"
  )}}

  {{ macros.list_articles(
    articles_page.object_list,
    included_categories=("journal",),
    display_category=False,
    title="Journal",
    limit=7,
    see_more="/category/journal.html"
  )}}

  {{ macros.list_articles(
    articles_page.object_list,
    included_categories=("lectures",),
    display_category=False,
    title="Notes de lecture",
    limit=7,
    see_more="/category/lectures.html"
  )}}

  {{ macros.list_articles(
    articles_page.object_list,
    included_categories=("notes",),
    display_category=False,
    title="Notes",
    limit=7,
    see_more="/category/notes.html"
  )}}
{% endif %}
</div>
</div>
{% endblock content %}
