{% extends "base.html" %}
{% block head %}
  {{ super() }}
  {% for keyword in article.keywords %}
    <meta name="keywords" contents="{{keyword}}" />
  {% endfor %}

  {% for description in article.description %}
    <meta name="description" contents="{{description}}" />
  {% endfor %}

  {% for tag in article.tags %}
    <meta name="tags" contents="{{tag}}" />
  {% endfor %}

{% endblock %}

{% block title %}{{ article.title }} - {{ SITENAME }}{% endblock %}

{% block content %}
<div class="posts">
<div class="post">
    <h1 class="post-title">
      {{ article.title }}
    </h1>
    {% if article.headline %}
    <h2 class="post-title">{{ article.headline }}</h2>
    {% endif %}
    <span class="post-date">{{ article.locale_date | capitalize }}</span>

    {{ article.content }}
  </div>
</div>
{% endblock %}
