{% extends "base.html" %}
{% block content %}
<div class="content-title">
{% block content_title %}
{% endblock %}
<p>Je suis <a href="/pages/about.html">Alexis Métaireau</a>, développeur, intéressé par l'écologie, l'éducation,
l'apprentissage, le partage et la souveraineté populaire.</p>

<p>Vous pouvez jeter un oeil à <a href="/pages/projets.html">la liste de mes projets passés ou en cours</a>.</p>
</div>
<div class="posts">
  {% for article in articles_page.object_list %}
  <div class="post">
    <h1 class="post-title" style="display: inline">
      <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a>
    </h1>
    <span class="post-date" style="display: inline">{{ article.locale_date }}</span>
    <span class="headline" style="display: block">{{ article.headline }}</span>
  </div>
  {% endfor %}
</div>
{% include 'pagination.html' %}
{% endblock content %}
