{% extends "base.html" %}
{% block content %}

    <p>Hi and welcome in this web logs. I try here to talk about freedom, free
    software, activism and education. And about anything I think would be
    valuable to share.</p>

    <p>Bienvenue sur ces carnets. J'essaye de parler ici de liberté,
    de logiciel libre d'activisme et d'éducation. Et finalement d'un peu tout
    ce qui me passe par la tête et que j'ai envie de partager.</p>

    {% for article in articles %}
    <h2><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }} ({{article.lang}})</a>
        {% if article.translations %}
        <small>(also in {% for article in article.translations %}<a href="{{ SITEURL }}/{{ article.url }}">{{ article.lang }}</a>{% endfor %})</small>
        {% endif %}
        <span class="date">{{ article.date.strftime('%B %Y')}}</span>
    </h2>
        {% if article.description %}
        <p class="description">{{ article.description }}</p>
        {% endif %}
    {% endfor %}
{% endblock %}
