.hentry{ border-left: 10px solid; }

.content{ border-color: rgba(0, 0, 0, .2); }
.dev{ border-color: rgba(150, 200, 150, .2); }
.python{ border-color: rgba(0, 200, 0, .2); }
.asso{ border-color: rgba(200, 0, 0, .2); }
.thoughts{ border-color: rgba(100, 0, 100, .2); }
