h1 {
    color: #000;
}

#posts-list h1{
    margin: 0;
    padding: 0;
}

#posts-list a {
    text-decoration: none;
}

.hentry {
    border-left: 10px solid;
    border-color: rgba(200, 200, 200, .4); 
    color: rgba(200, 200, 200, .3); 
    padding: 40px;
}

article .category {
    position: absolute;
    right: 0px;
    font-size: 4em;
    display: block;
    font-style: italic;
}

#posts-list .hentry:hover{
    border-color: black;
    transition-duration: 1200ms;
}

.dev, .python {
    border-color: rgba(150, 200, 150, .4); 
    color: rgba(150, 200, 150, .3); 
}
.asso {
    border-color: rgba(200, 0, 0, .4);
    color: rgba(200, 0, 0, .3);
}

.thoughts {
    border-color: rgba(100, 0, 100, .4); 
    color: rgba(100, 0, 100, .3); 
}
