@import url(http://fonts.googleapis.com/css?family=Rosario);
@import url("pygment.css");

body { 
    width: 800px; 
    margin: auto; 
    font-size: 1.3em;
    background-color: #fffff0;
    font-family: "Georgia", serif;
}

a{
    color: #000;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    float: right;
    margin-left: 10px;
}

#top {}
    #top .author {
        float: left;
    }

    #top .links { 
        float: right; 
        list-style-type: none;
    }

    #top .links, #top .links li{
        display: inline;
    }

    #top .links li{
        margin-left: 10px;
    }

.content {
    clear: both;
}
    
    .content h1, h2, h3, h4, h5, h6{
        font-family: 'Rosario', arial, serif;
        margin-left: -20px;
    }

    .content h1{
        font-size: 2.5em;
    }

    .content p{
        font-size: 1.1em;
        text-align: justify;
        text-justify: newspaper;
    }

    .content .date{
        margin-top: -20px;
        font-style: italic;
    }

    .content h2{
        font-size: 1.5em;
    }

    .content a{
        padding: 2px;
        color: #0F0F0F;
    }

    .content a:hover{
        background-color: #0F0F0F;
        color: #eaeaea;
    }

    .content .highlight pre{
        padding: 15px;
        background-color: black;
        color: white;
    }

    .content blockquote {
        margin: 0px;
        margin-right: 40px;
        margin-left: 20px;
        padding-left: 20px;
        text-align: left;
        border-left: 3px black solid;
        letter-spacing: 2px;
        font-style: italic;
        text-align: justify;
    }
