body {
    background-image: url('seigaiha.png');
}
.profile {
  height: 80px;
  width: 80px;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  background: url('../img/profile.png') no-repeat center center;
  background-size: 99% auto;
}
.profile img {
  opacity: 0;
  filter: alpha(opactiy=0);
}
.content-title h2 {
  color: #9a9a9a;
}
table {
  max-width: 100% !important;
}
tr {
  max-width: 100% !important;
}
td {
  max-width: 100px !important;
}
td img {
  width: 100% auto;
}
.tiny-note {
  font-size: 8pt;
}
.muted {
  color: #9a9a9a !important;
}

ul#blog_index  {
  margin: 1rem -3rem 10rem -3rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
ul#blog_index li {
  margin: 1rem;
  list-style: none;      /*border: 1px solid rgba(0, 0, 0, 0.2);*/
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  width: 15rem;
  min-width: 15rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
ul#blog_index time.updated {
  color: rgba(0, 0, 0, 0.3);
  padding: .2rem 1rem;
  font-size: .9rem;
  flex: 0 1 auto;
}
ul#blog_index li .post {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}
ul#blog_index li span a {
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    padding: 8px 5px;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
    color: #202020;
    letter-spacing: .1em;
    box-decoration-break: clone;
    background-color: #fff;

  flex: 1 auto;
  line-height: 1.3;
  padding: .6rem 1rem;
  font-weight: 100;
  font-size: 1rem;
}
ul#blog_index time.updated::before {
  content: "Publié : ";
  color: rgba(0, 0, 0, 0.3);
}
.created {
  display: block;
  padding: .6rem 1rem;
  font-weight: 400;
}
ul#blog_index time.created::before {
  content: " Écrit le ";
  color: rgba(0, 0, 0, 0.3);
}

.post {
  margin-bottom: 0 !important;
}

.description {
    display: block;
    background-color: #fff;
    opacity: 0.9;
    padding: 10px;
    text-align: justify;
    justify-content: center;
}
